= provide :breadcrumbs, 'Upload A Review'
#pre_content
  .typography
    %h1 UPLOAD REVIEW
    %p
      Please complete the following steps below to register and complete an application for funding.
      %br
      For answers to any questions you may have, please see links to the left of the screen.
    %h2
      %strong 1. Please complete the following details.

.searchform
  .typography
    - if signed_in_as_admin?
      %p Admins cannot upload grant reviews
      = link_to 'Logout', logout_path
    - else
      - if current_user.state_declaration
        .panel.current_panel
          %p Thank you. Please browse to the review document signed by the learner, training provider and employer on your system and click upload


          - if flash.any?
            - flash.each do |key, m|
              %p#MemberLoginForm_LoginForm_error.message.bad
                = m

        - current_user.grant_details.each do |grant_detail|

          = field_set_tag "Evidence for #{grant_detail.learner_name}" do
            - if grant_detail.apprentice_start_date.to_datetime > 10.weeks.ago
              %p
                Please return to upload evidence 10 weeks from your apprentice's start date.
                = surround '(', ')' do
                  = (grant_detail.apprentice_start_date.to_datetime + 10.weeks).strftime('%d/%m/%y')
            - else
              = form_for grant_detail.grant_review do |f|

                = f.hidden_field :grant_detail_id

                = f.fields_for :documents do |doc_f|
                  - if doc_f.object.document.present?
                    = doc_f.hidden_field :id
                    = doc_f.object.document.file.filename
                    .field
                      = doc_f.label :_destroy, 'Remove Evidence'
                      = doc_f.check_box :_destroy
                - if f.object.documents.count >= 5
                  %p You can only have upto 5 documents for you review.
                  .actions
                    = f.submit 'Delete Selected'
                - else

                  .field
                    = f.label :new_files
                    = f.file_field :new_files, multiple: true
                  - unless f.object.documents.any?
                    .field
                      = f.label :learners_consent, 'Please check this box to confirm you have the learners consent to share this review'
                      = f.check_box :learners_consent
                  .actions
                    = f.submit 'Upload'
                    - if f.object.documents.any?
                      = f.submit 'Delete Selected'
            %hr
        .actions
          - if current_user.grant_details.any?
            - if signed_in? && current_user.grant_details.count < 5
              = link_to 'Apply for another AGE grant?', grant_details_path
          - else

            %p You haven't submitted an application yet.
            = link_to 'Apply for an AGE grant', grant_details_path
      - else
        %p State Aid is any advantage granted by public authorities through state resources on a selective basis to any organisation that could potentially distort competition and trade in the European Union (EU). State aid rules can (among other things) apply to grants or loans. The Apprenticeship Grant for Employers supports employers with the costs associated with employing an Apprentice in Norfolk or Suffolk aged 16-24 and therefore has to be accounted for under EU State Aid rules and regulations.
        %p The approved EU mechanism for providing State Aid called the De Minimis Regulation or exemption. This allows small amounts of aid to be provided (currently less than €200,000) to a single organisation over a rolling period of 3 fiscal years (government financial year ends).
        %p Please tick the relevant box to declare any State Aid your organisation has received. If you have aid to declare we will contact you to confirm next steps for the payment process. Please be aware that if you have applied for multiple AGE grants you will have State Aid to declare.
        = form_for current_user.build_state_declaration do |f|
          .field.narrow_field
            = f.label :declaration_no do
              = f.radio_button :declaration, :no, value: :no
              %span I have no State Aid to declare
          .field.narrow_field
            = f.label :declaration_yes do
              = f.radio_button :declaration, :yes, value: :yes
              %span I have State Aid to declare
          .actions
            = f.submit 'Submit'
