= provide :breadcrumbs, 'Upload A Review'
#pre_content
  .typography
    %h1 UPLOAD REVIEW
    %p
      Please complete the following steps below to register and complete an application for funding.
      %br
      For answers to any questions you may have, please see links to the left of the screen.
    %h2
      %strong 1. Please complete the following details.

.searchform    
  .typography
    - if signed_in_as_admin?
      %p Admins cannot upload grant reviews
      = link_to 'Logout', logout_path
    - else
      = form_for @grant_review do |f|
        .panel.current_panel
          %p Thank you. Please browse to the review document signed by the learner, training provider and employer on your system and click upload

          %p Please check this box to confirm you have the learners consent to share this review

          .field
            = f.label :files
            = f.file_field :files, multiple: true
          .actions
            = f.submit 'Upload'