= provide :breadcrumbs, 'AGE Grant'

.typography
  - if flash.any?
    %p#MemberLoginForm_LoginForm_error.message.bad
      - flash.each do |k, v|
        = v
  %p
    - if norfolk_site?
      New Anglia
    - else
      Cambridgeshire and Peterborough Local Authorities
    now has devolved responsibility for the AGE grant from central Government.
  %p
    Please see the FAQs to the left for more information on eligibility in
    - if norfolk_site?
      Norfolk and Suffolk.
    - else
      Cambridgeshire and Peterborough.
  %p
    %b From 1 May 2017 the following now apply:
  %p
    %b
      You may also be eligible for incentive payments which are payable through your training provider. Please speak to them for further information.

  %p Grants are on a first come first served basis and availability depends upon the age of the apprentice.

  %h3 *Important News*
  %p The AGE Grant incentive scheme will cease on 31st July 2019.  Applications received after this date will not be processed, however if you have already submitted your application and have received confirmation that it is being processed, you will then have 20 weeks from the date of your application to submit all relevant documentation for your claim to be paid.  No applications will be accepted after 31st July 2019. 
  %p Any applications made for an apprentice who started before 1st August 2017 have now expired and we are no longer able to process your payment.
  %p Applications made for an apprentice who started programme after 1st August 2017 and on or before 31st July 2018 will need to be completed before the deadline of 30th January 2019.
  %p 
    Applications made from 1st August 2018 will need to be completed within a 20 week deadline from the date of the apprentice start date.  You will have 20 weeks from the date your apprentice starts to make your application, return your necessary forms, and upload a valid review  (dated 10 weeks from the start date).  Any applications submitted outside of the 20 week deadline will be deleted.  You have the right to appeal this decision.  
    For further information, please contact 
    = link_to 'age@peterborough.gov.uk', 'mailto:age@peterborough.gov.uk'
  %p 
    %b 
      This Service is now closed to new applications.  If you have an existing claim, you can continue to upload evidence to support your claim within your allocated timeframe.  If you have any queries regarding your existing claim please contact: 
      = link_to 'age@peterborough.gov.uk', 'mailto:age@peterborough.gov.uk'
  %p
    = link_to 'AGE factsheet for employers', '/AGE%20factsheet%20for%20employers%20V4.pdf'
  .actions
    = link_to 'Apply Now', '/apply'
    = link_to 'Log in', login_path
