= provide :breadcrumbs, 'AGE Grant'

.typography
  - if flash.any?
    %p#MemberLoginForm_LoginForm_error.message.bad
      - flash.each do |k, v|
        = v
  %p
    - if norfolk_site?
      New Anglia
    - else
      Cambridgeshire and Peterborough Local Authorities
    now has devolved responsibility for the AGE grant from central Government.
  %p
    Please see the FAQs to the left for more information on eligibility in
    - if norfolk_site?
      Norfolk and Suffolk.
    - else
      Cambridgeshire and Peterborough.
  %p
    %b From 1 May 2017 the following now apply:
  %p
    %b
      This grant is not available for employers who recruit an apprentice on an apprenticeship standard.
      %br
      You may also be eligible for incentive payments which are payable through your training provider. Please speak to them for further information.

  %p Grants are on a first come first served basis and availability depends upon the age of the apprentice.


  %p
    = link_to 'AGE factsheet for employers', '/AGE%20factsheet%20for%20employers%202017.pdf'
  .actions
    = link_to 'Apply Now', '/apply'
    = link_to 'Log in', login_path
