= provide :breadcrumbs, 'AGE Grant'
.typography
  - if flash.any?
    %p#MemberLoginForm_LoginForm_error.message.bad
      - flash.each do |k, v|
        = v
  %p New Anglia now has devolved responsibility for the AGE grant from central Government.
  %p Please see the FAQs to the left for more information on eligibility in Norfolk and Suffolk.
  %p Grants are on a first come first served basis and availability depends upon the age of the apprentice
  
  %p
    Currently we have
    - if norfolk_site?
      %span.count_down.young= 720 - GrantDetail.young.count
    - else
      %span.count_down.young= 247 - GrantDetail.young.count
    // p/c 247
    grants available for 16 to 18 year olds and
    - if norfolk_site?
      %span.count_down.old= 325 - GrantDetail.old.count
    - else
      %span.count_down.young= 120 - GrantDetail.old.count
    // p/c 120
    for 19 to 24 year olds.
  %p This scheme runs initially until the 31 December 2016
  .actions
    = link_to 'Apply Now', '/apply'