= provide :breadcrumbs, 'Apply for an AGE grant'
.pre-content
  .typography
    %h1 Apply For An Age Grant

    %h2 Our simple 4 stage search process does not take long and will provide you with details of relevant Apprenticeship providers.
    %p
      You cannot apply for an AGE Grant until your chosen training provider has issued you with an Apprenticeship Agreement and start date for the Apprenticeship. To search for a training provider click
      = link_to 'here', 'https://www.apprenticeshipsnorfolk.org/employ-an-apprentice/search-for-an-apprentice/'

    %h2
      %strong 1. Please complete the following details.

.searchform    
  .typography
    - if signed_in? && current_user.grant_details.any?
      %p
        Welcome
        = current_user.fullname
        \.
        %strong Not you?
        = link_to 'Sign out', logout_path
  - if signed_in? && current_user.grant_details.count >= 5
    %p You have submitted 5
  - else
    %ul.searchform__steps
      %li.searchform__step.searchform__step--current 1. Your details  
      %li.searchform__step  2. Complete learner details
      %li.searchform__step  3. Select training providers
      %li.searchform__step  4. Signature
      - if signed_in?
        %li.searchform__step  5. Your Result
      - else
        %li.searchform__step  5. Password
        %li.searchform__step  6. Your Result
    
    .typography
      = render 'form'

