= content_for :actions do
  = link_to 'Export CSV', url_for(format: 'csv')
  
.typography
  - if @training_provider_name
    %h1= "#{@training_provider_name} Applicants"
  - else
    %h1= "All Grant Detail Applicants"

  %table.index_table
    %thead
      %tr
        %td Ref
        %td Forename
        %td Surname
        %td Email
        %td Applied
        %td Review Uploaded

        %td{colspan: 1}
    %tbody
      - @grant_details.each do |grant_detail|
        %tr
          %td= grant_detail.invoice_number
          %td= grant_detail.forename
          %td= grant_detail.surname
          %td= grant_detail.user.email
          %td= "#{time_ago_in_words(grant_detail.created_at.in_time_zone("London"))} ago"
          %td= grant_detail.review_submitted ? 'Yes' : ''
          %td
            = link_to 'View Details', [:admin, grant_detail]
            = link_to 'Edit', [:edit, :admin, grant_detail]

- if current_user.id == 1
  - GrantDetail.all.each do |gd|
    - if gd.review_submitted
      - if gd.grant_review.documents.count > 1
        .asdasd
          ID:
          = gd.id
          %ul
            - gd.grant_review.documents.each do |doc|
              %li= doc.id
          §§§§§§§§