%table
  %tr
    %td APPRENTICESHIP GRANT FOR EMPLOYERS
  %tr
    %td PAYMENT REQUEST
%hr
%table
  %tr
    %td Employer name
    %td= @grant_detail.user.fullname
  %tr
    %td Employer address
    %td= @grant_detail.full_address
  %tr
    %td Contact name
    %td= @grant_detail.user.fullname
  %tr
    %td Contact phone number
    %td= @grant_detail.work_number
  %tr
    %td Contact email address
    %td= @grant_detail.user.email
  %tr
    %td Remittance email address (if different from above)
    %td
  %tr
    %td Apprentice name
    %td= @grant_detail.learner_name
  %tr
    %td Amount due
    %td{style: 'height: 100px'} £
  %tr
    %td Bank account name
    %td= @grant_detail.bank_name
  %tr
    %td Sort code
    %td= @grant_detail.sort_code
  %tr
    %td Account number
    %td= @grant_detail.account_number
  %tr
    %td Payment due date
    %td
