= form_for [:admin, @user] do |f|

  - if @user.errors.any?
    - @user.errors.full_messages.each do |m|
      %p#MemberLoginForm_LoginForm_error.message.bad
        = m

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :password
    = f.password_field :password

  .actions
    = f.submit 'Save'