= content_for :actions do
  = link_to 'New Admin', new_admin_user_path
  
.typography
  %h1 Admins
  - if flash.any?
    %p#MemberLoginForm_LoginForm_error.message.good
      - flash.each do |k, v|
        = v
  %table.index_table
    %thead
      %tr
        %td Name
        %td Email

        %td{colspan: 2}

    %tbody
      - User.admin_users.each do |admin|
        - unless admin.id == 1
          %tr
            %td= admin.name
            %td= admin.email
            %td= link_to 'edit', edit_admin_user_path(admin)
            %td= link_to 'delete', [:admin, admin], method: :delete, data: {confirm: 'This action cannot be undone. Are you sure you want to delete this user.'}