.main__cell.main__sec
  %nav.subnav.pre-content
    %ul
      - site_pages.each do |page|
        %li= link_to page.name, "/#{page.url_alias}", class: ('current' if request.path == "/#{page.url_alias}")

      %li= link_to 'I have already applied for a grant and need to upload evidence to claim', '/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim', class: ('current' if request.path == '/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim')
      %li= link_to 'Apply for an AGE grant', '/apply', class: ('current' if request.path == '/apply')

  %aside.aside-feature.typography
    .aside-feature__content
      %h1 Don’t see what you want?
      - if norfolk_site?
        %h2 Call 0344 800 8024
      - else
        %h2 Call 01733 588367
      - if norfolk_site?
        %h2
          %a{:href => "https://www.apprenticeshipsnorfolk.org/contact-us/"}
            Enquiry Form
            %strong &gt;
    - if norfolk_site?
      %span{"data-alt" => "aside 1", "data-picture" => ""}
        %span{"data-media" => "(min-width: 720px)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage240180-aside-1.jpg"}
        %span{"data-media" => "(min-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 720px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 720px) and (-o-min-device-pixel-ratio: 1.5), (min-width: 720px) and (min-device-pixel-ratio: 1.5), (min-width: 720px) and (min-resolution: 144dpi), (min-width: 720px) and (min-resolution: 1.5dppx)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage480360-aside-1.jpg"}
        %span{"data-media" => "(min-width: 1024px)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg"}
          = image_tag 'https://www.apprenticeshipsnorfolk.org/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg'
        %span{"data-media" => "(min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 1024px) and (-o-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi), (min-width: 1024px) and (min-resolution: 1.5dppx)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage560420-aside-1.jpg"}
        /[if (lt IE 9) &amp; (!IEMobile)]
          <span data-src="/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg"></span>
        %noscript
          \&lt;img src="/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg" alt="aside 1"&gt;