.main__cell.main__sec
  %nav.subnav.pre-content
    %ul
      %li= link_to 'Do I qualify?', '/do-i-qualify', class: ('current' if request.path == '/do-i-qualify')
      %li= link_to 'How much funding is available?', '/how-much-funding-is-available', class: ('current' if request.path == '/how-much-funding-is-available')
      %li= link_to 'What do I need to do to claim?', '/what-do-i-need-to-do-to-claim', class: ('current' if request.path == '/what-do-i-need-to-do-to-claim')
      %li= link_to 'I’ve already applied once. Can I claim again? ', '/ive-already-applied-once-can-i-claim-again', class: ('current' if request.path == '/ive-already-applied-once-can-i-claim-again')
      %li= link_to 'How quickly will I receive the money?', '/how-quickly-will-i-receive-the-money', class: ('current' if request.path == '/how-quickly-will-i-receive-the-money')
      %li= link_to 'What will you accept as a review document?', '/what-will-you-accept-as-a-review-document', class: ('current' if request.path == '/what-will-you-accept-as-a-review-document')
      %li= link_to 'My Provider has not completed the review or has not provided me with a copy.  What should I do? ', '/my-provider-has-not-completed-the-review-or-has-not-provided-me-with-a-copy--what-should-i-do', class: ('current' if request.path == '/my-provider-has-not-completed-the-review-or-has-not-provided-me-with-a-copy--what-should-i-do')
      %li= link_to 'Your system does not work on my computer, what do I do now? ', '/your-system-does-not-work-on-my-computer-what-do-i-do-now', class: ('current' if request.path == '/your-system-does-not-work-on-my-computer-what-do-i-do-now')
      %li= link_to 'I had an AGE grant from Government in the last year, can I still claim a grant from you if I take on another apprentice? ', '/i-had-an-age-grant-from-government-in-the-last-year-can-i-still-claim-a-grant-from-you-if-i-take-on-another-apprentice', class: ('current' if request.path == '/i-had-an-age-grant-from-government-in-the-last-year-can-i-still-claim-a-grant-from-you-if-i-take-on-another-apprentice')
      %li= link_to 'My company is based outside Norfolk or Suffolk. What should I do? ', '/my-company-is-based-outside-norfolk-or-suffolk-what-should-i-do', class: ('current' if request.path == '/my-company-is-based-outside-norfolk-or-suffolk-what-should-i-do')
      %li= link_to 'What is your complaints process?', '/complaints-process', class: ('current' if request.path == '/complaints-process')

      %li= link_to 'I have already applied for a grant and need to upload evidence to claim', '/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim', class: ('current' if request.path == '/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim')
      %li= link_to 'Apply for an age grant', '/apply', class: ('current' if request.path == '/apply')

  %aside.aside-feature.typography
    .aside-feature__content
      %h1 Don’t see what you want?
      %h2 Call 0344 800 8024
      %h2
        %a{:href => "https://www.apprenticeshipsnorfolk.org/contact-us/"}
          Enquiry Form
          %strong &gt;
    %span{"data-alt" => "aside 1", "data-picture" => ""}
      %span{"data-media" => "(min-width: 720px)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage240180-aside-1.jpg"}
      %span{"data-media" => "(min-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 720px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 720px) and (-o-min-device-pixel-ratio: 1.5), (min-width: 720px) and (min-device-pixel-ratio: 1.5), (min-width: 720px) and (min-resolution: 144dpi), (min-width: 720px) and (min-resolution: 1.5dppx)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage480360-aside-1.jpg"}
      %span{"data-media" => "(min-width: 1024px)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg"}
        = image_tag 'https://www.apprenticeshipsnorfolk.org/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg'
      %span{"data-media" => "(min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 1024px) and (-o-min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-device-pixel-ratio: 1.5), (min-width: 1024px) and (min-resolution: 144dpi), (min-width: 1024px) and (min-resolution: 1.5dppx)", "data-src" => "/assets/aside/_resampled/CroppedFocusedImage560420-aside-1.jpg"}
      /[if (lt IE 9) &amp; (!IEMobile)]
        <span data-src="/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg"></span>
      %noscript
        \&lt;img src="/assets/aside/_resampled/CroppedFocusedImage280210-aside-1.jpg" alt="aside 1"&gt;