%head
  %title ApprenticeshipsNorfolk
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  
%body.admin
  
  .viewport  
    = render 'admin_header'
    .main.main--hasborder
      .main__cell
        .content
          = yield
      - if content_for? :actions
        .sidebar
          = yield :actions

  