%head
  %title Apprenticeship Peterborough & Cambridge
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'


%body

  .viewport
    = render 'header'
    .main.main--hasborder
      = render 'sidebar'
      .main__cell
        .content
          - if content_for? :breadcrumbs
            = breadcrumbs(yield :breadcrumbs)
          = yield
    = render 'footer'





  :javascript
    $('.learner_dob').datepicker({
    dateFormat: 'dd/mm/yy',
    minDate: '01/08/1991',
    maxDate: '#{16.years.ago.strftime('%d/%m/%Y')}',
    changeMonth: true,
    changeYear: true
    });
